.modal {
  display: block;
}
/*--복사붙여넣기--*/
.ims .modal-header {
  height: 50px;
}
.ims .modal-title {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}
.ims .modal-body > div.call {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
.ims select {
  width: 100%;
  border: 1px solid #ff5d30;
  border-radius: 3px;
  height: 50px;
  padding: 0 1em;
}
.ims .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff5d61;
  --bs-btn-border-color: #ff5d61;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff4b19;
  --bs-btn-hover-border-color: #ff4b19;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff4b19;
  --bs-btn-active-border-color: #ff4b19;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #c42b00;
  --bs-btn-disabled-border-color: #c42b00;
}
